.vscode/**
.git
.gitignore
**/*.ts
**/*.map
.eslintrc.json
src/test/**
out/test/**
test/**
node_modules/**
*.vsix
.vscode-test/**
.nyc_output/**
coverage/**
CLAUDE.md
releases/**
**/*.test.js
**/*.test.ts
